* {
  font-family: Segoe UI, -apple-system, Sans-Serif;
  color: rgb(255,255,255);
  transition-duration: 0.4s;
}

@media only screen and (min-width: 1000px) {
  body {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .Footer, .Sep {
    margin-left: -100px !important;
    margin-right: -100px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

body {
  margin: 0;
  background-color: #020914;
  background-image: url('/src/images/galaxy2.png');
  background-attachment: fixed;
  background-size: cover;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.Center {
  text-align: center;
}

.AbitThick {
  font-weight: 700
}

.StandardBlack {
  color: rgba(225, 242, 250, 1);
}

.SubStandardBlack {
  color: rgba(194, 228, 244, 1);
}

.Reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s all ease;
}

.Reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.BecomeBigger:hover {
  scale: 1.1;
}